.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;

  }
  
  .example-header-image {
    background-image: url('https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=1024x1024&w=is&k=20&c=6XEZlH2FjqdpXUqjUK4y0LlWF6yViZVWn9HZJ-IR8gU=');
    background-size: cover;
  }
